body {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: justify;
}

/* Menu */
header {
  width: 100%;
  background-color: black;
  position: sticky;
  height: 80px;
  color: white;
  top: 0;
  z-index: 1000;
}

header {
  display: flex;
  justify-content: center;
  background: #000;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .logo {
  height: 80px;
}

nav .control-links {
  display: flex;
  gap: 40px;
}

nav .control-links a {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  line-height: 24px;
  letter-spacing: 0em;
  text-decoration: none;
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
}

nav .button-link {
  display: flex;
  gap: 20px;
}

nav .button-link a {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  line-height: 24px;
  letter-spacing: 0em;
  text-decoration: none;
  background-color: green;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
}

/**/

/* Section 2 Tiendas */

.sectiontiendas,
.sectiontiendas2,
.sectiontiendas3 {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
}

.tienda1,
.tienda2,
.tienda3 {
  width: 100%;
  height: fit-content;
}

.tienda1 img,
.tienda2 img,
.tienda3 img {
  width: 100%;
}

.info1 {
  width: 100%;
  text-align: center;
  padding: 15em 0;
}

.info2 {
  width: 100%;
  text-align: center;
  padding: 15em 0;
}

.info3 {
  width: 100%;
  text-align: center;
  padding: 15em 0;
}

/* Footer */
.container-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.column-f1 {
  width: 40%;
  margin: 0 5px;
  padding: 0 2%;
}

.column-f2 {
  width: 25%;
  margin: 0 5px;
  padding: 0 2%;
}

.column-f2 a {
  text-decoration: none;
  color: #000;
}

.social-networks {
  display: flex;
}

@media (max-width: 640px) {
  .container-footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .column-f1 {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .column-f2 {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .social-networks {
    justify-content: center;
  }
}
